[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fonttools = "*"
ipython = "*"
jupyter = "*"
numpy = "*"
matplotlib = "*"
skia-pathops = "*"

[dev-packages]

[requires]
python_version = "3.10"
